html {
  --primary-color: #f14545;
}

html,
body {
  font-family: 'Fira Sans', sans-serif;
  font-size: 14px;
}

label {
  font-weight: bold;
}

.ant-btn-primary {
  background-image: linear-gradient(100deg, #f14545 13%, #c41432 87%) !important;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.flex {
  display: flex;
  align-items: center;
}

iframe{
  display: none !important;
}
